In [1]:
from tabula import read_pdf
import pandas as pd

In [2]:
path = 'maharastra.pdf'

In [3]:

df = read_pdf(path)[0]

'pages' argument isn't specified.Will extract only from page 1 by default.

In [4]:
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Angle in,Distance in Km,(Depth in Meters),Unnamed: 3
0,From the coast of,NaN,Direction,Degrees,nÚù®úÒ (ÊEò±ÉÉ ä ̈ÉÒ]õ®ú ̈É)ä,MÉ1⁄2þ®úÉ< Ç ( ̈ÉÒ]õ®ú ̈É)ä,Latitude /
1,ÊEò oÉ ̈ÉpÖ ù iÉ]õ oÉä,NaN,Ênù¶ÉÉ ̈É ä,EòÉhä É,NaN,NaN,Longitude
2,NaN,NaN,NaN,(Êb÷OÉÒ ̈É)ä,From Eò1⁄2þÉ ì oÉ ä Eò1⁄2þÉ ì iÉEò To,From Eò1⁄2þÉ ì oÉ ä Eò1⁄2þÉ ì iÉEò To,®úäJÉÉ¶Æ É /
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,+IÉÉ¶Æ É
5,Tarapur,NaN,NaN,NaN,NaN,NaN,19 56 29.52 N
6,iÉÉ®úÉ{É®Ú ú iÉ®ú{É®Ö ú,NaN,NW,273,123 128,40 45,71 26 54.41 E
7,Satpati,NaN,NaN,NaN,NaN,NaN,19 52 49.31 N
8,oÉÉiÉ{ÉÉ]Ò oÉi{ÉÊiÉ,NaN,NW,276,131 136,40 45,71 25 55.79 E
9,Mahim Cr.,NaN,NaN,NaN,NaN,NaN,19 48 10.38 N
10,̈É1⁄2þÒ ̈É Â GòÒEòÂ ̈ÉÊ1⁄2þ̈ É,NaN,NW,278,141 146,40 45,71 22 30.62 E
11,Vasai,NaN,NaN,NaN,NaN,NaN,NaN
12,́ÉoÉ< Ç ́ÉoÉ<,NaN,NW,285,163 168,40 45,19 44 00.81 N 71 18 36.14 E
13,Vesava,NaN,NaN,NaN,NaN,NaN,NaN
14,́Éoä É ́É ́Éoä É ́É,NaN,NW,295,165 170,40 45,19 48 39.74 N 71 22 45.28 E
15,Malabar Pt.- Mumbai,NaN,NaN,NaN,NaN,NaN,NaN
16,̈É±É¤ÉÉ®ú {ÉÉ<]Æ Âõ ̈É±É¤É®ú,NaN,NW,280,164 169,70 75,19 13 55.09 N 71 13 13.73 E
17,̈É¤ÖÆ É< Ç,NaN,NaN,NaN,NaN,NaN,NaN
18,Colaba Pt.- Mumbai,NaN,NaN,NaN,NaN,NaN,NaN
19,SÉÉ±ä É¤É,NaN,NW,279,152 157,70 75,19 07 33.39 N
20,EòÉ±ä ÉÉ¤É {ÉÉ<]Æ Âõ ̈É¤ÆÖ É<Ç,NaN,NaN,NaN,NaN,NaN,71 20 18.73 E
21,Alibag,NaN,NaN,NaN,NaN,NaN,NaN
22,+Ê±É¤ÉÉMÉ Â +Ê±É¤ÉMÉ,NaN,NW,288,175 180,70 75,19 11 42.96 N 71 16 24.25 E
23,Revadanda,NaN,NaN,NaN,NaN,NaN,NaN
24,®äú ́ÉnùbÆ ÷É ®äú ́Énùxnù,NaN,--,--,-- --,-- --,--
25,Murud,NaN,NaN,NaN,NaN,NaN,NaN
26,̈É°Ö üb ̈ÉȪ ûnù,NaN,--,--,-- --,-- --,--
27,Srivardan,NaN,NaN,NaN,NaN,NaN,NaN
28,̧ÉÒ ́ÉvÉÇùxÉ,NaN,NaN,NaN,NaN,NaN,NaN
29,Ê»É ́ÉnùÇ xÉ,NaN,--,--,-- --,-- --,--
30,Bankat,NaN,NaN,NaN,NaN,NaN,NaN
31,¤ÉÉhÉEòÉä]õ ¤ÉxEòiÉ,NaN,--,--,-- --,-- --,--
32,Harne,NaN,NaN,NaN,NaN,NaN,NaN
33,1⁄2þhþÉ äÇ 1⁄2þxÉ æ,NaN,--,--,-- --,-- --,--
34,Dabhol,NaN,NaN,NaN,NaN,NaN,NaN
35,nù¦ÉÉ±ä É,NaN,--,--,-- --,-- --,--
36,n÷É¦ÉþÉ±ä É,NaN,NaN,NaN,NaN,NaN,NaN
37,Tolkeswar Pt.,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,--,--,-- --,-- --,--
39,]õÉ±ä ÉEäò·É®ú {ÉÉ<]Æ õÂ,NaN,NaN,NaN,NaN,NaN,NaN
40,iÉÉ±ä Eòä o ́É®ú,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
all_null_indexes = (df.isna().T.min().astype(int) * df.index).values
# remove_zeros
all_null_indexes = all_null_indexes[all_null_indexes != 0]
all_null_indexes

array([3], dtype=int64)

In [6]:
df_flt = df[all_null_indexes[0]+2:]
df_flt

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Angle in,Distance in Km,(Depth in Meters),Unnamed: 3
5,Tarapur,NaN,NaN,NaN,NaN,NaN,19 56 29.52 N
6,iÉÉ®úÉ{É®Ú ú iÉ®ú{É®Ö ú,NaN,NW,273,123 128,40 45,71 26 54.41 E
7,Satpati,NaN,NaN,NaN,NaN,NaN,19 52 49.31 N
8,oÉÉiÉ{ÉÉ]Ò oÉi{ÉÊiÉ,NaN,NW,276,131 136,40 45,71 25 55.79 E
9,Mahim Cr.,NaN,NaN,NaN,NaN,NaN,19 48 10.38 N
10,̈É1⁄2þÒ ̈É Â GòÒEòÂ ̈ÉÊ1⁄2þ̈ É,NaN,NW,278,141 146,40 45,71 22 30.62 E
11,Vasai,NaN,NaN,NaN,NaN,NaN,NaN
12,́ÉoÉ< Ç ́ÉoÉ<,NaN,NW,285,163 168,40 45,19 44 00.81 N 71 18 36.14 E
13,Vesava,NaN,NaN,NaN,NaN,NaN,NaN
14,́Éoä É ́É ́Éoä É ́É,NaN,NW,295,165 170,40 45,19 48 39.74 N 71 22 45.28 E
15,Malabar Pt.- Mumbai,NaN,NaN,NaN,NaN,NaN,NaN
16,̈É±É¤ÉÉ®ú {ÉÉ<]Æ Âõ ̈É±É¤É®ú,NaN,NW,280,164 169,70 75,19 13 55.09 N 71 13 13.73 E
17,̈É¤ÖÆ É< Ç,NaN,NaN,NaN,NaN,NaN,NaN
18,Colaba Pt.- Mumbai,NaN,NaN,NaN,NaN,NaN,NaN
19,SÉÉ±ä É¤É,NaN,NW,279,152 157,70 75,19 07 33.39 N
20,EòÉ±ä ÉÉ¤É {ÉÉ<]Æ Âõ ̈É¤ÆÖ É<Ç,NaN,NaN,NaN,NaN,NaN,71 20 18.73 E
21,Alibag,NaN,NaN,NaN,NaN,NaN,NaN
22,+Ê±É¤ÉÉMÉ Â +Ê±É¤ÉMÉ,NaN,NW,288,175 180,70 75,19 11 42.96 N 71 16 24.25 E
23,Revadanda,NaN,NaN,NaN,NaN,NaN,NaN
24,®äú ́ÉnùbÆ ÷É ®äú ́Énùxnù,NaN,--,--,-- --,-- --,--
25,Murud,NaN,NaN,NaN,NaN,NaN,NaN
26,̈É°Ö üb ̈ÉȪ ûnù,NaN,--,--,-- --,-- --,--
27,Srivardan,NaN,NaN,NaN,NaN,NaN,NaN
28,̧ÉÒ ́ÉvÉÇùxÉ,NaN,NaN,NaN,NaN,NaN,NaN
29,Ê»É ́ÉnùÇ xÉ,NaN,--,--,-- --,-- --,--
30,Bankat,NaN,NaN,NaN,NaN,NaN,NaN
31,¤ÉÉhÉEòÉä]õ ¤ÉxEòiÉ,NaN,--,--,-- --,-- --,--
32,Harne,NaN,NaN,NaN,NaN,NaN,NaN
33,1⁄2þhþÉ äÇ 1⁄2þxÉ æ,NaN,--,--,-- --,-- --,--
34,Dabhol,NaN,NaN,NaN,NaN,NaN,NaN
35,nù¦ÉÉ±ä É,NaN,--,--,-- --,-- --,--
36,n÷É¦ÉþÉ±ä É,NaN,NaN,NaN,NaN,NaN,NaN
37,Tolkeswar Pt.,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,--,--,-- --,-- --,--
39,]õÉ±ä ÉEäò·É®ú {ÉÉ<]Æ õÂ,NaN,NaN,NaN,NaN,NaN,NaN
40,iÉÉ±ä Eòä o ́É®ú,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Create Datastore
clean_store = {c:[] for c in df.columns}
clean_store

{'Unnamed: 0': [],
 'Unnamed: 1': [],
 'Unnamed: 2': [],
 'Angle in': [],
 'Distance in Km': [],
 '(Depth in Meters)': [],
 'Unnamed: 3': []}

In [8]:
temp_store = {c:'' for c in df.columns}
temp_store

{'Unnamed: 0': '',
 'Unnamed: 1': '',
 'Unnamed: 2': '',
 'Angle in': '',
 'Distance in Km': '',
 '(Depth in Meters)': '',
 'Unnamed: 3': ''}

In [9]:
for idx, row in df_flt.iterrows():    
    for column in temp_store:
        if not pd.isna(row[column]):
            if temp_store[column] != '':
                if temp_store[column][-1] != '$':
                    temp_store[column] += '$'
            if not 'É' in row[column]:
                temp_store[column] += row[column]
       
    # Condition when data checked in
    latlon = temp_store['Unnamed: 3']
    if ('N' in latlon and 'E' in latlon) or '--' in latlon:
        # Temp store to clean store
        for column in temp_store:
            clean_store[column].append(temp_store[column])
        # Cleanup for next loop
        temp_store = {c:'' for c in df.columns}

In [10]:
clean_df = pd.DataFrame(clean_store)
clean_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Angle in,Distance in Km,(Depth in Meters),Unnamed: 3
0,Tarapur$,,NW,273,123 128,40 45,19 56 29.52 N$71 26 54.41 E
1,Satpati$,,NW,276,131 136,40 45,19 52 49.31 N$71 25 55.79 E
2,Mahim Cr.$,,NW,278,141 146,40 45,19 48 10.38 N$71 22 30.62 E
3,Vasai$,,NW,285,163 168,40 45,19 44 00.81 N 71 18 36.14 E
4,Vesava$,,NW,295,165 170,40 45,19 48 39.74 N 71 22 45.28 E
5,Malabar Pt.- Mumbai$,,NW,280,164 169,70 75,19 13 55.09 N 71 13 13.73 E
6,Colaba Pt.- Mumbai$,,NW,279,152 157,70 75,19 07 33.39 N$71 20 18.73 E
7,Alibag$,,NW,288,175 180,70 75,19 11 42.96 N 71 16 24.25 E
8,Revadanda$,,--,--,-- --,-- --,--
9,Murud$,,--,--,-- --,-- --,--
10,Srivardan$,,--,--,-- --,-- --,--
11,Bankat$,,--,--,-- --,-- --,--
12,Harne$,,--,--,-- --,-- --,--
13,Dabhol$,,--,--,-- --,-- --,--
14,Tolkeswar Pt.,,--,--,-- --,-- --,--

In [11]:
# Clean Name
## Remove Trailing $
clean_df['Unnamed: 0'] = clean_df['Unnamed: 0'].str.rstrip('$')
## Replace $ with ,
clean_df['Unnamed: 0'] = clean_df['Unnamed: 0'].str.replace('$', ',')

In [12]:
# Clean Latlong
## Remove Trailing $
clean_df['Unnamed: 3'] = clean_df['Unnamed: 3'].str.rstrip('$')
## Replace $ with <space>
clean_df['Unnamed: 3'] = clean_df['Unnamed: 3'].str.replace('$', ' ')

In [13]:
clean_df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Angle in,Distance in Km,(Depth in Meters),Unnamed: 3
0,Tarapur,,NW,273,123 128,40 45,19 56 29.52 N 71 26 54.41 E
1,Satpati,,NW,276,131 136,40 45,19 52 49.31 N 71 25 55.79 E
2,Mahim Cr.,,NW,278,141 146,40 45,19 48 10.38 N 71 22 30.62 E
3,Vasai,,NW,285,163 168,40 45,19 44 00.81 N 71 18 36.14 E
4,Vesava,,NW,295,165 170,40 45,19 48 39.74 N 71 22 45.28 E
5,Malabar Pt.- Mumbai,,NW,280,164 169,70 75,19 13 55.09 N 71 13 13.73 E
6,Colaba Pt.- Mumbai,,NW,279,152 157,70 75,19 07 33.39 N 71 20 18.73 E
7,Alibag,,NW,288,175 180,70 75,19 11 42.96 N 71 16 24.25 E
8,Revadanda,,--,--,-- --,-- --,--
9,Murud,,--,--,-- --,-- --,--
10,Srivardan,,--,--,-- --,-- --,--
11,Bankat,,--,--,-- --,-- --,--
12,Harne,,--,--,-- --,-- --,--
13,Dabhol,,--,--,-- --,-- --,--
14,Tolkeswar Pt.,,--,--,-- --,-- --,--